@model ViolationsListViewModel

@{
    ViewData["Title"] = "Violations";
}

<h1>Violazioni contestabili</h1>

@if(Model.Violations != null && Model.Violations.Count >0)
{
    <ol class="list-group list-group-numbered">
    @foreach(var violation in Model.Violations)
    {
        <li class="list-group-item list my-2">@violation.Description</li>
    }
    </ol>
}