@model EditRegisterViewModel

@{

    ViewData["Title"] = "Edit register";
}

@if(true) {}

<div class="w-50 d-flex flex-column align-items-center justify-content-start mx-auto">
    <h1>Aggiungi anagrafica</h1>

    <form method="post" asp-controller="Register" asp-action="EditRegisterSave" asp-route-id="@Model.RegisterId" enctype="multipart/form-data">
        <div class="my-2">
            <label class="form-label" for="name" asp-for="Name"></label>
            <input id="name" class="form-control" asp-for="Name" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>

        <div class="my-2">
            <label class="form-label" for="surname" asp-for="Surname"></label>
            <input id="surname" class="form-control" asp-for="Surname" />
            <span class="text-danger" asp-validation-for="Surname"></span>
        </div>

        <div class="my-2">
            <label class="form-label" for="address" asp-for="Address"></label>
            <input id="address" class="form-control" asp-for="Address" />
            <span class="text-danger" asp-validation-for="Address"></span>
        </div>

        <div class="my-2">
            <label class="form-label" for="city" asp-for="City"></label>
            <input id="city" class="form-control" asp-for="City" />
            <span class="text-danger" asp-validation-for="City"></span>
        </div>

        <div class="my-2">
            <label class="form-label" for="cap" asp-for="CAP"></label>
            <input id="cap" class="form-control" asp-for="CAP" />
            <span class="text-danger" asp-validation-for="CAP"></span>
        </div>

        <div class="my-2">
            <label class="form-label" for="fiscalCode" asp-for="FiscalCode"></label>
            <input id="fiscalCode" class="form-control" asp-for="FiscalCode" />
            <span class="text-danger" asp-validation-for="FiscalCode"></span>
        </div>

        <div class="my-2">
            <label class="form-label" for="picture" asp-for="Picture"></label>
            <input type="file" id="picture" class="form-control" asp-for="Picture" />
            <span class="small text-secondary">If not uploaded, it will be used a default image"</span>
        </div>

        <div class="my-2">
            <button class="btn btn-success">Save</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}